@model BlogViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <div class="row">
        <!--left-->
        <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">



            <div class="blog-grid-top">
                <div class="b-grid-top">
                    <div class="blog_info_left_grid">

                        <img src="@(Model.Blog.BlogImage == null ? "" : Model.Blog.BlogImage)" class="img-fluid" alt="">

                    </div>
                    <div class="blog-info-middle">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="far fa-calendar-alt"></i> @(((DateTime)Model.Blog.BlogCreateDate).ToString("ddd-MMM-yyyy"))
                                </a>
                            </li>

                            <li>
                                <a asp-controller="Blog" asp-action="Index" asp-route-categoryid="@Model.Blog.CategoryId">
                                    <i class="fas fa-eye"></i> @Model.Blog.Category.CategoryName
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <h3>
                    <a href="single.html">@Model.Blog.BlogTitle </a>
                </h3>
                <p>
                    @Model.Blog.BlogContent
                </p>

            </div>


            @await Component.InvokeAsync("CommentListByBlog", new { id = Model.Blog.BlogId })

            @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml", new Comment() { BlogId = Model.Blog.BlogId }) @*BlogId yi gönderdik*@


        </div>

        <!--//left-->
        <!--right-->
        <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
            <div class="right-blog-info text-left">

                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")

                @await Component.InvokeAsync("CategoryList")

                @await Component.InvokeAsync("BlogListByWriter", new { id = Model.Blog.WriterId })


            </div>

        </aside>
        <!--//right-->
    </div>
</div>
<link href="/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/web/css/single.css">
<link href="/web/css/style.css" rel='stylesheet' type='text/css' />
<link href="/web/css/fontawesome-all.css" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
      rel="stylesheet">
<script src="/web/js/bootstrap.js"></script>